@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

$ff-karla: 'Karla', sans-serif;
$ff-poppins: 'Poppins', sans-serif;

// $primary-color: #fc8886;
$primary-color: #fb4f4c;
$bg-color:#363641;
$white :  rgb(255,255,255);